#toast {
  position: fixed;
  top: 10px;
  z-index: 99;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 15px;
  border-radius: 2px;
  min-width: 240px;
  background-color: #f89406;
  display: flex;
  align-items: center;
  font-size: 14px;
}
#toast .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  color: #fff;
  letter-spacing: 1px;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #2196f3;
}
#bg canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  height: 60px;
  padding: 10px;
}

main .container {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  margin-top: 10vh;
}
main .title-wrap {
  margin-bottom: 30px;
}
main .title-wrap .title {
  text-align: center;
  font-size: 36px;
}
main .title-wrap .dec {
  text-align: center;
  color: #e4e4e4;
}
main .container .link-area {
  display: flex;
  font-size: 16px;
}
main .container .link-area #url {
  flex: 1;
  height: 60px;
  border-radius: 2px 0 0 2px;
  border: none;
  border-right: none;
  background: rgba(10, 10, 10, 0.17);
  padding: 0 20px;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.13),
    0px 0px 2.9px rgba(0, 0, 0, 0.11);
}
main .container .link-area #url::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
main .container .link-area #url::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
  opacity: 1;
}

main .container .link-area #submit {
  width: 120px;
  border-radius: 0 2px 2px 0;
  border: 1px solid #2196f3;
  cursor: pointer;
  background-color: #2196f3;
  opacity: 0.8;
  transition: all 0.3s;
}
main .container .link-area #submit:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  main .container .link-area #submit {
    display: none;
  }
}

main .container #result {
  margin-top: 20px;
  background: rgba(10, 10, 10, 0.17);
  padding: 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  display: none;
  /* display: flex; */
  font-size: 16px;
}

main .container #result .label {
  font-size: 16px;
}
main .container #result #qrcode {
  width: 100px;
  height: 100px;
}
main .container #result .list {
  margin: 10px 0;
}
main .container #result .list span {
  display: inline-block;
  width: 120px;
  text-align: right;
}

main .container #result #dwz {
  color: #6fff40;
}

.copy-button {
  display: inline-block;
  width: 10px;
  height: 10px;
  position: relative;
  cursor: pointer;
  margin-left: 20px;
}
.copy-button::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  top: -1px;
  left: -1px;
}
.copy-button::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  top: 1px;
  left: 1px;
}

/* 提示 */
main .container .prompt-wrap {
  margin-top: 20px;
  background: rgba(10, 10, 10, 0.17);
  border-radius: 2px;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 15px;
}

footer {
  margin-top: auto;
  background: rgba(10, 10, 10, 0.17);
  padding: 10px;
  text-align: center;
}
footer .warn {
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #ffc965;
}

footer .links a {
  color: #ddd;
  margin: 0 10px;
}
